@use '../shared/vars.scss' as *;
@use '../shared/fonts.scss';

.moment-btn {
  border-radius: 100%;

  width: 40px;
  height: 40px;

  background-color: #464646;
  border: 5px solid black;

  cursor: pointer;

  &:active {
    background-color: #2b2b2b;
  }
}
