@import 'styles/vars.scss';
@import 'styles/fonts.scss';

.btn {
  padding: 5px;

  display: flex;

  background-color: black;

  .inner {
    width: 100px;
    height: 100px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    gap: 6px;

    background-color: #1b1b1b;
    border: none;
    box-shadow: 0px 0px 0px 4px #676767 inset;

    .top,
    .bottom {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .top {
      font-size: 24px;
      font-weight: bold;

      &.fault {
        color: $fault;
      }

      &.avail {
        color: $green;
      }
    }

    .bottom {
      font-size: 28px;
      font-weight: bold;

      &.white {
        color: $white;
        box-shadow: 0px 0px 0px 3px $white inset;
      }

      &.blue {
        color: $blue;
        box-shadow: 0px 0px 0px 3px $blue inset;
      }
    }
  }
}
