@import 'styles/vars.scss';
@import 'styles/fonts.scss';

.encoder-outer {
  border-radius: 100%;
  padding: 5px;

  background-color: black;

  & > .encoder {
    border-radius: 100%;

    width: 40px;
    height: 40px;

    background-color: #b9b9b9;
    border: 6px dashed black;
  }
}
