@import 'styles/vars.scss';

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 26px;
  color: $white;

  &.clickable {
    cursor: pointer;
    user-select: none;
  }
}
