@font-face {
  font-family: 'Source Code Pro';
  src: url('assets/Source_Code_Pro/static/SourceCodePro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('assets/Source_Code_Pro/static/SourceCodePro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
