@use 'components/Button.scss';
@use 'components/Encoder.scss';
@use 'components/Group.scss';
@use 'components/Knob.scss';
@use 'components/Label.scss';
@use 'components/MomentButton.scss';
@use 'components/WithLabel.scss';

@use 'shared/vars.scss' as *;
@use 'shared/fonts.scss';

html,
body,
main {
  margin: 0;
  padding: 0;

  height: 100%;

  background-color: $gunmetal;

  font: 16px 'Source Code Pro', monospace;
}
